<!--
  Generated template for the Signin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines text-center>
      Sign In
    </ion-item>  </ion-navbar>
</ion-header>

<ion-content padding>

  <form  [formGroup]="form" autocomplete="off" autocapitalize="none"  autocomplete="off">

    <ion-grid class="contents">
    
      <ion-item class="transparent" no-lines text-center text-wrap>
         <span style="font-size: 25px !important">Hi {{firstname}} {{lastname}}</span>
      </ion-item>

      <ion-item class="transparent smaller" no-lines text-center text-wrap>
        <span style="font-size: 18px !important">We are so glad you are here</span> 
      </ion-item>

      <!--<ion-row>
        <ion-item class="transparent text-12" no-lines text-center text-wrap>
          <span style="font-size: 16px !important">Sign in</span> 
        </ion-item>
      </ion-row>-->

      <ion-grid class="grid-95">

      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <ion-icon name="ios-call-outline" class="color-primary" no-padding item-left></ion-icon>
          <span class="input-lbl">{{mobileNumber}}</span>
          <!--<ion-input type="hidden" formControlName="mobileNumber" [attr.readonly]="isReadonly" class="select-text" placeholder="Mobile Number"></ion-input>-->
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round" >
          <ion-icon name="ios-unlock-outline" class="color-primary" no-padding item-left></ion-icon>
          <ion-input type="password" formControlName="appPassword" class="select-text" placeholder="Password"></ion-input>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('appPassword').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('appPassword').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your password</span></ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="transparent" no-lines text-center>
        <ion-col style="padding-top:12px">
          <button ion-button block color="darkGray" round (click)="next()" [disabled]='submitted'>Secure Login</button>
        </ion-col>
      </ion-row>

      <ion-row class="transparent" no-lines text-right >
        <ion-col>
          <button ion-button style="text-transform: none; color:#ffffff; float:right;" clear (click)="resetPassword()">Forgot your password?</button>
        </ion-col>
      </ion-row>

      </ion-grid>

  </ion-grid>

  </form>

</ion-content>
