<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding ><!--class="slide-in-both-ways"-->
        <ion-item  no-lines text-wrap>
          <h2 [innerHTML]='event.EventTitle'></h2>
          <h3 [innerHTML]='event.EventDescription'></h3>
          <p text-right>Starts: {{event.EventDate}}</p>
          <p text-right>Committee: {{event.Committee}}</p>
          <p text-right>Ends: {{event.EndDateTime}}</p>
          <p text-right>Duration: {{event.DurationInHrs}}</p>
          <p text-right><ion-icon name="point"></ion-icon> {{event.Venue}}, {{event.City}}</p>
        </ion-item>
</ion-content>