<ion-content no-padding>
  <ion-grid>
    <ion-row padding>
      <ion-col no-padding>
        <b>{{title}}</b>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col padding class="pad-sides">
        {{message}}
      </ion-col>
    </ion-row>
    <ion-row padding  class="pad-sides">
      <ion-col no-padding>
        <button ion-button color="primary" (click)="dismiss()" no-padding clear>CANCEL</button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button color="primary" (click)="turnOnWifi()" no-padding clear>TURN ON WIFI</button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button color="primary" (click)="turnOnData()" no-padding clear>TURN ON DATA</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
