ion-modal{
    padding:30px;
    background: rgba(0,0,0,0.4)
 }
internet-message,internet-message ion-content .scroll-content ion-grid{
    background:#fff !important;
    min-height:50px;
    overflow:auto;
}
internet-message,internet-message ion-content{    
    background: transparent !important;
}
internet-message {
    margin-top:50%;    
     ion-col button{
        white-space: normal !important;
        font-size:8.4pt !important;
    }
    .pad-sides{
        padding-top:0px;
        padding-bottom:0px;
    }
}