
 ion-modal{
    padding:30px;
    background: rgba(0,0,0,0.4)
 }
message-modal,message-modal ion-content .scroll-content ion-grid{
    background:#fff !important;
    min-height:50px;
    overflow:auto;
}
message-modal,message-modal ion-content{    
    background: transparent !important;
}
message-modal {
    margin-top:50%;
    .textGray{
        color:color($colors,darkGrayColor) !important;
        font-size:16px  !important;
    }
}