<ion-content no-padding>
  <ion-grid>
    <ion-item text-center no-lines class="textGray" text-wrap>{{title}}</ion-item>
    <ion-item  no-lines class="class-primary" text-wrap>{{message}}</ion-item>
    <ion-row class="transparent" text-center no-pading>
      <button ion-button color="primary" (click)="dismiss()" block>{{buttonText}}</button>
    </ion-row>
  </ion-grid>
</ion-content>
