<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines text-center>
      Recover Password
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form">

  <ion-grid class="contents grid-95">
    
      <ion-row>
        <ion-item class="transparent normal" no-lines text-center text-wrap>
          Answer these 2 security questions as accurately as possible.
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="transparent normal" no-lines text-center text-wrap>
          Responses are case sensitive
        </ion-item>
      </ion-row>
      <!--<ion-row>
        <ion-item class="transparent normal" no-lines text-center text-wrap>
          {{ForgotPasswordQuestions.SecurityQuestion1}}
        </ion-item>
      </ion-row>-->
      <ion-row>
        <ion-col>
        <ion-item class="item-round">
          <ion-icon name="ios-call-outline" class="color-primary" no-padding item-left></ion-icon>
          <span class="input-lbl">{{ForgotPasswordQuestions.SecurityQuestion1}}</span>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
         <ion-col style="margin-bottom: -5px">
            <ion-item class="item-round">
              <ion-icon name="ios-color-wand-outline" class="color-primary" no-padding item-left></ion-icon>
              <ion-input type="text" formControlName="responseOne" placeholder="Response"></ion-input>
              <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('responseOne').errors && submitted" no-padding item-right></ion-icon>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row style="margin: -10px" *ngIf="form.get('responseOne').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Provide a response</span></ion-label>
        </ion-item>
      </ion-row>
      <!--<ion-row>
        <ion-item class="transparent normal" no-lines text-center text-wrap>
          {{ForgotPasswordQuestions.SecurityQuestion2}}
        </ion-item>
      </ion-row>-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <ion-icon name="ios-call-outline" class="color-primary" no-padding item-left></ion-icon>
          <span class="input-lbl">{{ForgotPasswordQuestions.SecurityQuestion1}}</span>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-bottom: -5px">
          <ion-item class="item-round">
            <ion-icon name="ios-color-wand-outline" class="color-primary" no-padding item-left></ion-icon>
            <ion-input type="text" formControlName="responseTwo" placeholder="Response"></ion-input>
            <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('responseTwo').errors && submitted" no-padding item-right></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('responseTwo').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Provide a response</span></ion-label>
        </ion-item>
      </ion-row>

        <ion-row class="transparent" no-lines text-center >
          <ion-col style="margin-top: 12px">
            <button ion-button block color="darkGray" round (click)="saveSecurityQuestion()">Continue to password reset</button>
          </ion-col>
        </ion-row>

    </ion-grid> 

  </form>
 
</ion-content>
