<ion-content padding>

  <ion-grid class="contents">
    <ion-item class="transparent" no-lines text-center>
      AKJI
    </ion-item>
    <ion-item class="transparent smaller" no-lines text-center>
      LET'S STAY CONNECTED
    </ion-item>
    <ion-item class="transparent" no-lines text-center>
      <img src="assets/images/choice_image.png" width="100px" style="margin:10pt;"/>
    </ion-item>

    

      <form [formGroup]="form" autocomplete="off" autocapitalize="none"  autocomplete="off">
        <ion-grid class="grid-95">
          <ion-row class="transparent" no-lines text-center *ngIf="!verifyMe">
            <ion-col>
                <button ion-button block color="darkGray" (click)="showVerify()" round style="text-transform: none">Verify Me</button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="verifyMe" class="animate-if">
            <ion-item style="color-white; padding-bottom: 8px !important" class="transparent text-12" no-lines text-center text-wrap>
              Please enter your mobile number and email address for verification
            </ion-item>
          </ion-row>

          <ion-row *ngIf="verifyMe" class="slideDown">
            <ion-col>
              <ion-list style="margin-bottom: -5px"center>
                <ion-item class="item-round" no-padding>
                  <ion-icon name="ios-add-outline" class="color-primary" no-padding item-left></ion-icon>
                  <ion-select id="countryCode" formControlName="countryCode" placeholder="Country calling code" class="text-12 select-text" okText="Ok" cancelText="Dismiss" > 
                    <ion-option value="257">257 (Burundi)</ion-option>
                    <ion-option value="254">254 (Kenya)</ion-option>
                    <ion-option value="250">250 (Rwanda)</ion-option>
                    <ion-option value="27">27 (South Africa)</ion-option>
                  </ion-select>
                  <ion-icon name="ios-alert" *ngIf="form.get('countryCode').errors && submitted" class="color-red" no-padding item-right></ion-icon>
                  </ion-item>
                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row style="margin: -10px" *ngIf="form.get('countryCode').errors && submitted">
            <ion-item class="transparent validation" no-lines text-right>
              <ion-label item-right><span class="validation-text">Select your country's dailing code</span></ion-label>
            </ion-item>
          </ion-row>

          <ion-row *ngIf="verifyMe" class="slideDown">
            <ion-col style="margin-bottom: -5px">
              <ion-item  class="item-round" no-padding>
                <ion-icon name="ios-call-outline" class="color-primary" no-padding item-left></ion-icon>
                <ion-input type="number" id="mobileNumber" formControlName="mobileNumber" class="select-text" placeholder="Mobile Number"></ion-input>
                <ion-icon name="ios-alert" *ngIf="form.get('mobileNumber').errors && submitted" class="color-red" no-padding item-right></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="margin: -10px" *ngIf="form.get('mobileNumber').errors && submitted">
            <ion-item class="transparent validation" no-lines text-right>
              <ion-label item-right><span class="validation-text">Enter your mobile number</span></ion-label>
            </ion-item>
          </ion-row>

          <ion-row *ngIf="verifyMe" class="slideDown">
            <ion-col style="margin-bottom: -5px">
              <ion-item class="item-round" no-padding>
                <ion-icon name="ios-mail-outline" color="primary" no-padding item-left></ion-icon>
                <ion-input type="text" id="emailAddress"  formControlName="emailAddress"  class="select-text" placeholder="Email address" ></ion-input>
                <ion-icon name="ios-alert" *ngIf="form.get('emailAddress').errors && submitted" class="color-red" no-padding item-right></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          
          <ion-row style="margin: -10px" *ngIf="form.get('emailAddress').errors && submitted">
            <ion-item class="transparent validation" no-lines text-right>
              <ion-label item-right><span class="validation-text">Enter your email address</span></ion-label>
            </ion-item>
          </ion-row>

          <ion-row *ngIf="verifyMe" class="transparent slideDown" no-lines text-center>
            <ion-col style="margin-top: 12px">
              <button ion-button block color="darkGray" round (click)="next()" [disabled]='submitted'>Verify Me</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  </ion-grid>
</ion-content>
