page-launch {
    .item-md.item-block .item-inner {
        border-bottom: 0px !important;
    }
		.label-md{
			margin: 0px !important;
		}
}

/*ion-item.transparent {
    background:transparent;
    color:white;
    font-size:34pt !important;
    font-family: Arial, Helvetica, sans-serif;
}
ion-item.transparent.smaller{
    font-size:14pt !important;
}
ion-item.transparent.text-12{
    font-size:12pt !important;
}
ion-item.item-round{
    border-radius:25px;
    //margin-top: 8px;
}*/
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.message {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-animation-delay: -2s; /* Safari 4.0 - 8.0 */
    animation-delay: -2s;
}

.ele {
  background-color: #ff6699;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.ele:hover {
  background-color: #123;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
