page-splash {
    .item-md{
        padding-left: 0px !important;
    }
    .label-md{
        margin-bottom: -13px !important
    }
    
    /*ion-content{
        background: url(../assets/images/splash.png);
        background-size:cover;
        background-position-x:-15px; 
        background-position-y:-20px; 
    }
    ion-footer, ion-footer ion-item, ion-footer ion-item ion-label{
        color:#fff;
        background:transparent !important;
        font-size:5pt !important;
    }*/
}
