<ion-content>

    <ion-grid class="contents">
    
      <ion-item class="transparent" no-lines text-center>
        <span style="font-size:70px;"> AKJI</span>
      </ion-item>

      <ion-item class="transparent smaller" no-lines text-center text-wrap>
        <span style="font-size: 22px;">LET'S STAY CONNECTED</span> 
      </ion-item>

  </ion-grid>

  <ion-grid style="position: absolute; bottom: 3px;">
    <ion-item class="transparent" no-lines text-center text-wrap>
      <span style="font-size:12px;"> @Copyright Official app for the Aga Khan Council of Kenya</span>
    </ion-item>
  </ion-grid>

</ion-content>


