<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines text-center>
      Home
    </ion-item>  
    <ion-buttons end>
      <button ion-button color="white" (click)="logout()">
        LOGOUT
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding ><!--class="slide-in-both-ways"-->
  <ion-grid  class="contents grid-95">
    <ion-row no-padding>
      <ion-col>
        <ion-item class="transparent" no-lines text-center text-wrap>
          <span style="font-size: 23px !important;">Every Community Has a Story</span>
        </ion-item>

        <ion-item class="transparent" no-lines text-center text-wrap style="padding-bottom: 15pt">
          <span style="font-size: 19px !important;">Welcome to Ours</span>
        </ion-item>

        <ion-list *ngFor="let m of menu;let in =index;" (click)="activateMenu(in)" class="no-margin transparent" no-padding ><!--style="padding-left: 5%; padding-right: 5%;"-->
          <ion-item class="module-tab">
            <ion-icon *ngIf="m.icon.indexOf('.')==-1" [name]="m.icon" color="primary" item-left></ion-icon>
            <img [src]="'assets/images/'+m.icon" width="28px" *ngIf="m.icon.indexOf('.')>0" item-left /> {{m.title}}
            <button ion-button clear item-right *ngIf="m.messageBadge !==undefined && m.messageBadge==true">
              <ion-icon name="globe" color="primary" style="background: #EDEDED; font-size: 14px"></ion-icon>
              <em *ngIf="unreadMessages>0" class="unread">{{unreadMessages}}</em>
            </button>            
          </ion-item>
          <ion-list *ngIf="m.submenu && m.submenu.length>0 && activeMenu===in" class="no-margin transparent padding-left-10">
            <ion-item *ngFor="let sub of m.submenu;let ind =index;" style="background: #EDEDED; font-size: 14px" class="slideDown"  (click)="showSubmenu(in,ind)">
              <ion-icon *ngIf="sub.icon.indexOf('.')==-1" [name]="sub.icon" color="primary" item-left></ion-icon>
              <img [src]="'assets/images/'+sub.icon" width="28px" *ngIf="sub.icon.indexOf('.')>0" item-left/> {{sub.title}}
            </ion-item>
          </ion-list>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
