/*.contents{
    padding-top:5% !important;
    padding-bottom:auto;
}*/

.button-md {
    margin: 0rem 0rem !important;
}

.item-button {
    font-size: 1.5rem !important;
    color: grey;
    text-transform:none;
}

.button-round-md {
    padding: 2.5rem 2.6rem !important;
}

