
<!--
  Generated template for the Securityquestions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines text-center>
      Security Questions
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-grid class="contents">    
        <ion-row>
          <ion-item class="transparent normal" no-lines text-center text-wrap>
            Select three security questions below. These questions will help us verify your identity should you forget your password.
          </ion-item>
        </ion-row>

     <ion-grid class="grid-95">
        <ion-row class="transparent" no-lines text-center>
          <ion-col>
            <ion-list style="margin-bottom: -5px">
              <ion-item class="item-round">
                <ion-icon name="ios-bookmark-outline" class="color-primary" no-padding item-left></ion-icon>
                  <ion-select formControlName="questionOne" placeholder="Select a question" class="text-12 select-text" okText="Okay" cancelText="Dismiss" > 
                    <ion-option *ngFor="let question of securityQuestions;" [disabled]="question.SecurityQuestionID ===form.get('questionTwo').value || question.SecurityQuestionID ===form.get('questionThree').value" [value]="question.SecurityQuestionID">{{question.SecurityQuestion}}</ion-option>
                  </ion-select>
                  <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('questionOne').errors && submitted" no-padding item-right></ion-icon>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

        <ion-row style="margin: -10px" *ngIf="form.get('questionOne').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Select a response</span></ion-label>
          </ion-item>
        </ion-row>

            <!--<ion-item class="item-round" (click)="next()">
              <img src="../assets/images/secret.png" item-left width="20px"/>
              <button ion-button class="button" clear (click)="next()">Select a question</button>
            </ion-item>-->
          

        <ion-row>
         <ion-col style="margin-bottom: -5px">
            <ion-item class="item-round">
              <ion-icon name="ios-color-wand-outline" class="color-primary" no-padding item-left></ion-icon>
              <ion-input type="text" formControlName="responseOne" placeholder="Response" class="select-text"></ion-input>
              <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('responseOne').errors && submitted" no-padding item-right></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="margin: -10px" *ngIf="form.get('responseOne').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Provide a response</span></ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="transparent" no-lines text-center>
          <ion-col>
            <ion-list style="margin-bottom: -5px">
              <ion-item class="item-round">
                <ion-icon name="ios-bookmark-outline" class="color-primary" no-padding item-left></ion-icon>
                <ion-select formControlName="questionTwo" placeholder="Select a question" class="text-12 select-text" okText="Okay" cancelText="Dismiss" > 
                  <ion-option *ngFor="let question of securityQuestions;" [disabled]="question.SecurityQuestionID ===form.get('questionThree').value || question.SecurityQuestionID ===form.get('questionOne').value" [value]="question.SecurityQuestionID">{{question.SecurityQuestion}}</ion-option>
                </ion-select>
                <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('questionTwo').errors && submitted" no-padding item-right></ion-icon>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

        <ion-row style="margin: -10px" *ngIf="form.get('questionTwo').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Select a question</span></ion-label>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="margin-bottom: -5px">
            <ion-item class="item-round">
              <ion-icon name="ios-color-wand-outline" class="color-primary" no-padding item-left></ion-icon>
              <ion-input type="text" formControlName="responseTwo" placeholder="Response" class="select-text"></ion-input>
              <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('responseTwo').errors && submitted" no-padding item-right></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="margin: -10px" *ngIf="form.get('responseTwo').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Provide a response</span></ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="transparent" no-lines text-center>
          <ion-col>
            <ion-list style="margin-bottom: -5px">
              <ion-item class="item-round">
                <ion-icon name="ios-bookmark-outline" class="color-primary" no-padding item-left></ion-icon>
                  <ion-select formControlName="questionThree" placeholder="Select a question" class="text-12 select-text" okText="Okay" cancelText="Dismiss" >
                    <ion-option *ngFor="let question of securityQuestions;" [disabled]="question.SecurityQuestionID ===form.get('questionTwo').value || question.SecurityQuestionID ===form.get('questionOne').value" [value]="question.SecurityQuestionID">{{question.SecurityQuestion}}</ion-option>
                  </ion-select>
                  <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('questionThree').errors && submitted" no-padding item-right></ion-icon>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

        <ion-row style="margin: -10px" *ngIf="form.get('questionThree').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Select a question</span></ion-label>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="margin-bottom: -5px">
          <ion-item class="item-round">
            <ion-icon name="ios-color-wand-outline" class="color-primary" no-padding item-left></ion-icon>
            <ion-input type="text" formControlName="responseThree" placeholder="Response" class="select-text"></ion-input>
            <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('responseThree').errors && submitted" no-padding item-right></ion-icon>
          </ion-item>
          </ion-col>
        </ion-row>   

        <ion-row style="margin: -10px" *ngIf="form.get('responseThree').errors && submitted">
          <ion-item class="transparent validation" no-lines text-right>
            <ion-label item-right><span class="validation-text">Provide a response</span></ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="transparent" no-lines text-center >
          <ion-col style="padding-top:15px">
          <button ion-button block class="button-round-md" color="darkGray" round (click)="next()"  [disabled]='submitted'>Save</button>
          </ion-col>
        </ion-row>
     </ion-grid>
    </ion-grid>
  </form>
</ion-content>