// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background: url(../assets/images/background.jpg);
    background-size:200% 200%;
    background-position-x: 50%;
}
ion-item.transparent {
    background:transparent;
    color:white;
    font-size:34pt !important;
    font-family: Arial, Helvetica, sans-serif;
}
ion-item.transparent.smaller{
    font-size:14pt !important;
}
ion-item.transparent.text-12{
    font-size:12pt !important;
}
ion-item.transparent.validation{
    font-size:10pt !important;
    color: white !important;
}

.contents{
        /*padding-top:20%;
        padding-bottom:auto;*/
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.grid-95 {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


ion-item.item-round{
    border-radius:25px;
    //margin-top: 8px;
}

//Buttons
.button-gray {
    background: url(../assets/images/graygray.jpg); 
    background-size:100% 100%; 
    background-position-x: 40%;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.item-md.item-block .item-inner {
    border-bottom: 0px !important;
}

//Input Valiadtion
.validation-text{
    margin-right: 0 !important;
    border-top: 4px #FF0000 solid; 
    background:#0F0F0F; 
    display: inline-block; 
    padding: 10px; 
    //opacity: 0.4;
    //filter: alpha(opacity=40);
}

.color-white{
    color:white;
}
.color-primary{
    color:#004f35 !important;
}
.color-red{
    color:red;
}
.item-inner {
    margin-left:5px !important;
}
.input-lbl,.select-text {
    overflow: visible !important;
    max-width: 100% !important;
    white-space: normal !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #004f35;
}
.alert-radio-label {
    overflow: visible !important;
    padding-right: 13px !important;
    white-space: normal !important;
}
.select-md {
    padding:13px 8px !important;
}
.button-md {
    height: 4.2rem !important;
    text-transform: none;
}

//AlertDialog
.alert-md .alert-title{
    font-size: 18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.alert-md .alert-head{
    padding: 18p !important;
}
.alert-md .alert-message{
    font-size: 14px;
    height: auto !important;
}
.alert-md .alert-message, .alert-md .alert-input-group{
    color: #424242;
    padding: 0 18px 18px 18px !important;
}
.alert-message{
    overflow-y: visible !important;
}

.large_button {
  line-height: 20vh !important;
}

