page-bulletin {
    .contents{
            position:absolute;
            left: 0;
            right: 0;
            margin:0 auto;
            top:45%;
            transform:translateY(-50%) !important;
        }

        .module-tab {
            color: #004f35 !important;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11pt;
        }

        .label-md {
            margin: 0px !important;
        }

    @keyframes slideInBothWays {
    0% {
        transform: translate3d(-100%,0,0);
    }
    
    50% {
        transform: translate3d(50%,0,0);
    }
    
    100% {
        transform: translate3d(0,0,0);
    }
    }
    
    .slide-in-both-ways {
    animation: slideInBothWays ease-in 1;
    animation-duration: 750ms;
    }


    .card {
    position: relative;
    float: left;
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
    }

    .card__front,
    .card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .card__front,
    .card__back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
    }

    .card__front {
    background-color: #ff5078;
    }

    .card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    }


    ion-list.no-margin{
        margin: 3px 0 0 0 !important;
        ion-item{
            border-radius: $margin-size;
            margin-top:2px;
        }
    }
    ion-item.transparent.text-11{
        color: #004f35 !important;
        font-size: 11pt;
    }
    .gradient-text {
        background: -webkit-linear-gradient(#148205, #084603);
        background: -o-linear-gradient(#148205, #084603);
        background: linear-gradient(#148205,#084603);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .color-white{
        color:white;
    }
    .color-primary{
        color:#004f35 !important;
    }
    ion-list.padding-left-10{
        padding-left:10%;
        ion-item{
            border-radius: $margin-size;
        }
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}

ion-nav-back-button{
    color:white !important;
}
