<ion-header>
  <ion-navbar  color="primary">
    <ion-item no-lines>
      {{title}}
    </ion-item>  
  </ion-navbar>
</ion-header>
<ion-content no-padding >  
    <ion-list class="trasparent" *ngFor="let item of bulletins;let ind =index;">
        <ion-item class="slideDown"  (click)="showDetail(item.ViewId,item.HasDetail)" [innerHTML]='stripTags(item.ViewShortDesc)' text-wrap padding>
          
        </ion-item>
    </ion-list>
</ion-content>
