page-messages {
    ion-content{
        /*background: url(../assets/images/graygray.jpg);
        background-size:200% 100%;
        background-position-x: 50%;*/
        background: #DBDBDB !important;
    }

    .card{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 0%;
    }

    .card-bg{
        /*background: url(../assets/images/graygray.jpg);
        background-size:200% 100%;
        background-position-x: 50%;*/
        background: #FFFFFF !important;
    }

    .label-md{
        margin:0px !important;
    }

    .item-block {
        min-height: 2.4rem;
    }
    .card-content-md {
        padding: 0;
    }
}
