<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" style="color:#004f35" no-lines>
      Messages
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card class="card-bg" *ngFor="let item of messages;">
      <ion-card-content style="margin-top: 4px">
        <ion-grid>
          <ion-row>
            <ion-col width-20 >
              <ion-item class="transparent" style="margin:40% !important; padding:0px;">
                <ion-icon name="ios-mail" color="primary" no-padding item-left></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col width-80>
              <ion-item class="transparent smaller" style="color:#004f35" no-lines text-wrap item-left>
                  {{item.title}}
              </ion-item>
              <ion-item class="transparent" style="color:#454545;" no-lines text-wrap item-left>
                {{item.message}}
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
