ion-modal{
    padding:30px;
    background: rgba(0,0,0,0.4)
 }
email-verification,email-verification ion-content .scroll-content ion-grid{
    background:#fff !important;
    min-height:50px;
    overflow:auto;
}
email-verification,email-verification ion-content{    
    background: transparent !important;
}
email-verification {
    ion-row{
        color:color($colors,primary) !important;
    }
    margin-top:50%;
    .font-10,.font-10 ion-col:not(.normal-font) ion-label{
        font-size:8.5pt !important; 
    }
    .font-10,.font-10 ion-col.normal-font ion-label{
       line-height: 50px;
    }
    ion-col button{
        white-space: normal !important;
    }
    button.text-wrap .button-inner{
       /* word-wrap: break-word !important;
        overflow-y:auto;*/
        font-size:8.5pt;
    }
    .textGray{
        color:color($colors,darkGrayColor) !important;
        font-size:16px  !important;
    }
}