<ion-content no-padding>
  <ion-grid>
    <ion-row text-center class="textGray" padding>
      <ion-col>
        {{title}}
      </ion-col>
    </ion-row>
    <ion-row text-center>{{message}}</ion-row>
    <ion-row class="class-primary font-10">
      <ion-col text-center width-40>
        <button ion-button color="primary" class="text-wrap" (click)="resendMessage()">RESEND THE MESSAGE</button>
      </ion-col>
      <ion-col class="normal-font" text-center width-10>
        or
      </ion-col>
      <ion-col text-center width-50>
        <button ion-button color="primary" class="text-wrap"  (click)="changeMail()">CHANGE EMAIL ADDRESS</button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        Make sure you check your spam folder
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        The sender is {{senderEmail}}
      </ion-col>
    </ion-row>
    <ion-row text-center no-padding style="padding-top:8pt">
      <button ion-button color="primary" (click)="dismiss()" block>{{buttonText}}</button>
    </ion-row>
  </ion-grid>
</ion-content>
