page-newsletter {
    ion-content{
        background: url(../assets/images/gray-bg.jpg);
        background-size:200% 100%;
        background-position-x: 50%;
    }

    .card{
        width: 95%;
        display: block;
        padding-bottom: 0%;
    }

    .card-bg{
        background: -webkit-linear-gradient(#ffffff, #dddddd);
        background: -o-linear-gradient(#ffffff, #dddddd);
        background: linear-gradient(#ffffff, #dddddd);
    }
    ion-item.transparent {
       /* background:transparent;*/
        font-size:20pt !important;
        font-family: Arial, Helvetica, sans-serif;
        color:#004f35;
        /*p{
            height:calc(100%-8px);
            background:white;
            width:calc(100%-8px);
        }*/
    }

}
