<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" style="color:#004f35" no-lines>
      {{title}}
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
    <ion-card class="card-bg" *ngFor="let item of newsletters;let ind =index;">
        <ion-list>
          <ion-item class="slideDown transparent"  (click)="showDetail(item.NewsletterId,item.NewsLetterName)" style="color:#454545;" text-wrap>
            {{item.NewsLetterName}}
          </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
