page-use-card {
    /*ion-content{
        background: url(../assets/images/gray-bg.jpg);
        background-size:200% 100%;
        background-position-x: 50%;
    }*/

    .card{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 0%;
    }

    .card-bg{
        /*background: url(../assets/images/graygray.jpg);
        background-size:200% 100%;
        background-position-x: 50%;*/
        background: #FFFFFF !important;
    }

    .label-md{
        margin:0px !important;
    }

}
