<!--
  Generated template for the UseCard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines>
      <span style="color:#004f35">{{title}}</span>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="contents grid-95">

    <ion-row>
      <ion-col>
        <ion-card class="card-bg">

          <ion-card-content style="margin-top: 8px">

            <!--My Account-->
            <ion-grid *ngIf="activeMenu==3">

              <ion-row text-center>
                <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                  <ion-icon name="md-ribbon" color="primary" no-padding item-left></ion-icon>
                    {{userData.firstname}} {{userData.lastname}}
                  </ion-item>
              </ion-row>

              <ion-row text-center>
                <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                  <ion-icon name="ios-mail" color="primary" no-padding item-left></ion-icon>
                    {{userData.email}}
                  </ion-item>
              </ion-row>

              <ion-row text-center>
                <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                  <ion-icon name="md-call" color="primary" no-padding item-left></ion-icon>
                    {{userData.phone}}
                  </ion-item>
              </ion-row>
            </ion-grid>

            <!--Security-->
            <ion-grid *ngIf="activeMenu==1">
                <ion-grid *ngFor="let leader of ZoneLeaders;">
                  <ion-row text-center >
                    <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                      <ion-icon name="md-pin" color="primary" no-padding item-left></ion-icon>
                        Zone Name - {{ZoneName}}
                      </ion-item>
                  </ion-row>

                  <ion-row text-center>
                    <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                      <ion-icon name="md-ribbon" color="primary" no-padding item-left></ion-icon>
                        Leader  - {{leader.ZoneLeader}}
                      </ion-item>
                  </ion-row>

                  <ion-row text-center>
                    <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                      <ion-icon name="md-contact" color="primary" no-padding item-left></ion-icon>
                        Contact -  {{leader.MobileNo}}
                      </ion-item>
                  </ion-row>

                  <ion-row text-center>
                    <ion-item class="transparent" style="color:#454545; padding-left: 8px" no-lines text-wrap>
                      <ion-icon name="md-call" color="primary" no-padding item-left></ion-icon>
                        Alternate contact  - {{leader.AdditionalMobileNo}}
                      </ion-item>
                  </ion-row>              
                 </ion-grid>
            </ion-grid>

            <ion-item class="transparent" no-lines text-center text-wrap>
              <button ion-button clear style="color: #004f35; float: right; font-weight:bold;" (click)="back()">CLOSE</button>
            </ion-item>
          </ion-card-content>
  

          <!--
<ion-card-footer>
             <ion-item class="transparent" no-lines text-center text-wrap>
                <button ion-button block color="darkGray" (click)="back()">Back</button>
            </ion-item>
          </ion-card-footer>
            -->

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
