<ion-header>
  <ion-navbar transparent>
    <ion-item class="transparent text-12" no-lines text-center>
      Registration
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item class="transparent normal" no-lines text-center text-wrap>
      Please be sure to complete all the information as required.
  </ion-item>
  
  <form [formGroup]="form"  autocomplete="off" autocapitalize="none"  autocomplete="off">
    
    <ion-grid class="grid-95">    

      <!--First Name-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/name.png" item-left width="32px"/>
          <ion-input type="text" placeholder="First Name" formControlName="firstName" class="select-text"></ion-input>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('firstName').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('firstName').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your first name</span></ion-label>
        </ion-item>
      </ion-row>

      <!--Last Name-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/name.png" item-left width="32px"/>
          <ion-input type="text" placeholder="Last Name" formControlName="lastName" class="select-text"></ion-input>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('lastName').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('lastName').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your last name</span></ion-label>
        </ion-item>
      </ion-row>

      <!--Date of birth-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/birthday.png" item-left width="32px"/>
          <ion-datetime type="text" class="datetime-text" placeholder="Date of Birth" formControlName="birthDate" displayFormat="DD MMMM YYYY" pickerFormat="DD/MMMM/YYYY"></ion-datetime>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('birthDate').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('birthDate').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your birth date</span></ion-label>
        </ion-item>
      </ion-row>

      <!--Gender-->
      <ion-row class="transparent" no-lines text-center>
        <ion-col>
          <ion-list style="margin-bottom: -5px">
            <ion-item class="item-round">
              <ion-icon name="ios-color-filter-outline" class="color-primary" no-padding item-left></ion-icon>
                <ion-select placeholder="Select gender" formControlName="gender" class="text-12 select-text" okText="Okay" cancelText="Dismiss" > 
                  <ion-option [value]="'M'">Male</ion-option>
                  <ion-option [value]="'F'">Female</ion-option>
                </ion-select>
                <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('gender').errors && submitted" no-padding item-right></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('gender').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Select your gender</span></ion-label>
        </ion-item>
      </ion-row>

      <!--Country-->
      <ion-row *ngIf='displayCountries'>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/country.png" item-left width="32px"/>
          <ion-select formControlName="country" placeholder="Select a Country" class="text-12 select-text" okText="Okay" cancelText="Dismiss" (ionChange)="getCities()">
            <ion-option *ngFor="let cntry of Countries;" [value]="cntry.CountryId">{{cntry.CountryName}}</ion-option>
          </ion-select>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('country').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('country').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Select your country name</span></ion-label>
        </ion-item>
      </ion-row>

      <!--city-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/location.png" item-left width="32px"/>
          <ion-select formControlName="city" placeholder="Select a City" class="text-12 select-text" okText="Okay" cancelText="Dismiss"  (ionChange)="getArea()">
            <ion-option *ngFor="let cty of Cities;" [value]="cty.CityId">{{cty.CityName}}</ion-option>
          </ion-select>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('city').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin: -10px" *ngIf="form.get('city').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Select your city</span></ion-label>
        </ion-item>
      </ion-row>

      <!--area-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/location.png" item-left width="32px"/>
          <ion-select formControlName="area" placeholder="Select an area" class="text-12 select-text" okText="Okay" cancelText="Dismiss"  (ionChange)="getZone()">
            <ion-option *ngFor="let area of Areas;" [value]="area.AreaId">{{area.AreaName}}</ion-option>
          </ion-select>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('area').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>   

      <ion-row style="margin: -10px" *ngIf="form.get('area').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your area location</span></ion-label>
        </ion-item>
      </ion-row>
     
      <!--zone-->
      <ion-row *ngIf="form.get('city').value==1">
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/location.png" item-left width="32px"/>
          <ion-select formControlName="zone" placeholder="Select an zone" class="text-12 select-text" okText="Okay" cancelText="Dismiss">
            <ion-option *ngFor="let zone of Zones;" [value]="zone.ZoneId">{{zone.Description}}</ion-option>
          </ion-select>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('zone').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>   

      <ion-row style="margin: -10px" *ngIf="form.get('zone').errors && submitted && form.get('city').value==1">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Select your zone</span></ion-label>
        </ion-item>
      </ion-row>
      <!--zone-->

      <!--street-->
      <ion-row>
        <ion-col style="margin-bottom: -5px">
        <ion-item class="item-round">
          <img src="assets/images/street.png" item-left width="32px"/>
          <ion-input type="text" placeholder="Enter street" formControlName="street" class="select-text" id="streetAddress"></ion-input>
          <ion-icon name="ios-alert" class="color-red" *ngIf="form.get('street').errors && submitted" no-padding item-right></ion-icon>
        </ion-item>
        </ion-col>
      </ion-row>   

      <ion-row style="margin: -10px" *ngIf="form.get('street').errors && submitted">
        <ion-item class="transparent validation" no-lines text-right>
          <ion-label item-right><span class="validation-text">Enter your street address</span></ion-label>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="transparent normal" no-lines text-center text-wrap>
          <ion-label>By clicking Sign Up, you agree to our Terms and that you have read our Data Privacy Policy.</ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="transparent" no-lines text-center>
        <button ion-button block color="darkGray" round (click)="next()" [disabled]='submitted'>Sign Up</button>
      </ion-row>      

  </ion-grid>
  </form>
  <div id="streetgmp" width="0px" height="0px"></div>
</ion-content>
