<ion-header>
  <ion-navbar  color="primary">
    <ion-item class="transparent text-12" no-lines>
      {{title}}
    </ion-item> 
  </ion-navbar>
</ion-header>

<ion-content padding ><!--class="slide-in-both-ways"-->
    <ion-list *ngFor="let item of events;let ind =index;"  class="transparent slideDown">
        <ion-item  (click)="showDetail(item.EventID,item.EventTitle)" text-wrap>
          <h2 [innerHTML]='item.EventTitle'></h2>
          <h3 [innerHTML]='item.EventDescription'></h3>
          <p text-right>{{item.EventDate}}</p>
        </ion-item>
    </ion-list>
</ion-content>
