<ion-content no-padding>

  <ion-grid>
    <ion-row text-center class="textGray" padding>
      <ion-col>
        {{title}}
      </ion-col>
    </ion-row>

     <ion-row text-center>{{line1}}</ion-row>

      <ion-row text-center>{{line2}}</ion-row>

       <ion-row text-center>{{line3}}</ion-row>

       <ion-row text-center no-padding style="padding-top:8pt">
          <button ion-button color="primary" (click)="dismiss()" block>{{buttonText}}</button>
      </ion-row>
  </ion-grid>

</ion-content>
